#name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.glow-letter {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#letter-w:before {
  --color-w: #ff0000;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-i:before {
  --color-i: #00ff00;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-l1:before,
#letter-l2:before,
#letter-l3:before {
  --color-l: #0000ff;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-a:before {
  --color-a: #ff00ff;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-m:before {
  --color-m: #00ffff;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-e:before,
#letter-e2:before {
  --color-e: #ffff00;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-n:before {
  --color-n: #00ff00;
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#letter-w:hover:before {
  color: var(--color-w);
}

#letter-i:hover:before {
  color: var(--color-i);
}

#letter-l1:hover:before,
#letter-l2:hover:before,
#letter-l3:hover:before {
  color: var(--color-l);
}

#letter-a:hover:before {
  color: var(--color-a);
}

#letter-m:hover:before {
  color: var(--color-m);
}

#letter-e:hover:before,
#letter-e2:hover:before {
  color: var(--color-e);
}

#letter-n:hover:before {
  color: var(--color-n);
}

.letter-jump {
  animation: jump 0.2s ease-out;
}

@keyframes jump {
  0% {
    transform: none;
  }

  20% {
    transform: translateY(-30px) rotate(-20deg);
  }

  40% {
    transform: translateY(-10px) rotate(10deg);
  }

  60% {
    transform: translateY(-30px) rotate(-10deg);
  }

  80% {
    transform: translateY(0) rotate(0);
  }

  100% {
    transform: none;
  }
}
