header {
  background-color: #4b0082; /* dark purple */
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

#main-header {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  width: 400px; /* set a fixed width */
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.2);
}

button {
  background: linear-gradient(to bottom right, #8a2be2, #4b0082); /* purple gradient */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 20px 0;
}

button:hover {
  transform: scale(1.1);
}

body {
  background-color: #bcaaa4;
  background-image: url("https://www.parliament.uk/contentassets/aa8b9933d3cb4364b827e7a60ea898e0/hl_library_roger-harris2022.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.letter {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.letter:hover {
  font-size: 2.5rem;
  animation: jump-up 0.5s;
}

@keyframes jump-up {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-10px) rotate(5deg);
  }
  75% {
    transform: translateY(-10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode header {
  background-color: #111;
}

.dark-mode nav a {
  color: #fff;
}

.dark-mode .letter:hover {
  color: #ff0;
}

#video-section {
  margin: 20px 0;
}

#video-form label {
  display: block;
  margin-bottom: 10px;
}

#video-form input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#video-form button[type="submit"] {
  background-color: #4b0082;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#video-form button[type="submit"]:hover {
  transform: scale(1.1);
}

#video-player {
  margin-top: 20px;
}
